html 
{
  background-color: #e3e3e3;
} /*Deals with background color*/

.sidebar 
{  
  font-family: 'Quicksand', sans-serif;

  height: 100%;
  width: 100px;

  position: absolute;
  /* When position absolute is used on an element, it is positioned absolutely with reference to the closest parent that has a position relative value */

  left: 0;
  top: 0;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #d1cfcf;
} /* used for the sidebars format and placement */

.sidebar div 
{
  padding: 8px;
  font-size: 24px;
  display: block;
} /* sidebar's actual appearance */

.center 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} /* center align property */